@import-normalize; /* bring in normalize.css styles */

html[data-topics='pink'] {
  --background-section: #ff226d;
  --contact-list: #fd4884;
}

html[data-topics='dark'] {
  --background-section: #031321;
  --contact-list: #091d2e;
}

html[data-topics='grin'] {
  --background-section: #22b642;
  --contact-list: #34ce55;
}

html[data-topics='violet'] {
  --background-section: #d52af3;
  --contact-list: #d953f0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}
